.days-list {
  /*  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
   gap: 15px;*/
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  max-width: 1200px;
  margin: 0 auto;

  @media (max-width: 1200px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }

  &__item {
    background-color: #ccc;

    /*   width:calc(33% - 30px) ;


    @media (max-width: 1000px) {
      width:calc(50% - 30px) ;
    }
    @media (max-width:768px) {
      width:100%;
    }*/
  }

  &__add {
    background-color: lightskyblue;
    border-radius: 10px;
    color: #fff;
    border-color: transparent;
    cursor: pointer;
    padding: 10px 20px;
  }
}
